/* Color Palette
Light Pink: FEBCCA
Pink: F3869D
Light Blue: 96C5D5
Blue: 5A94A8
Dark Blue: 586077 */

@charset "UTF-8";
/* CSS Document */

/* Stylesheet */

quote{
	text-align: center;
	width:100%;
	height:auto;
	font-size:30px;
	line-height:30px;
	
	
		
}

#blockquote{
	font-style: italic;
	vertical-align: top;
	font-size: 86px;

}

body{
	background: url("../img/pw_maze_white.png");	
}

#header color{
	background: #FEBCCA;
	
}

h1{
	background: #FEBCCA;
	text-align: center;
	width:100%;
	height:135px;
	font-size:60px;
	line-height:18px;
	margin:0 0 20px;
	padding:20px;
	font-family: housegrind;
}

#header background{
	width:100%;
	height:164px;
	z-index:0;
	position:absolute;
}

footer{
	font-size: 12px;
	padding: 25px 0px 20px 0px;
	text-align:center;
}

li{
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 70px 0 70px;
	
}

nav{
	background: #F3869D;
	font-size:18px; 
	text-transform:lowercase; 
	letter-spacing:0.05em; 
	font-weight:normal;
	width:100%;
	height:auto;
	padding: 0px 40px 0px 0px;
	
}

#kyra{
	width: 400px;
	height: auto;
	border-radius: 30px;
}

#facebook{
	width:25px;
	height: auto:
}

#instagram{
	width:25px;
	height: auto:
}

#linkedin{
	width:25px;
	height: auto:
}