/* Color Palette
Light Pink: FEBCCA
Pink: F3869D
Light Blue: 96C5D5
Blue: 5A94A8
Dark Blue: 586077 */

@charset "UTF-8";
/* CSS Document */

/* Stylesheet */

body{
	background: url("../img/pw_maze_white.png");	
}

#header color{
	background: #F3869D;
	
}

h1{
	font-family: 'Shadows Into Light Two', cursive;
	background: #F3869D;
	text-align: center;
	width:100%;
	height:135px;
	font-size:60px;
	line-height:18px;
	margin:0 0 20px;
	padding:20px;
	
}

#header background{
	width:100%;
	height:164px;
	z-index:0;
	position:absolute;
}


li{
	list-style: none;
	text-align:center;
	display: inline;
	margin: 0 70px 0 70px;
	
}

nav{
	background: #FEBCCA;
	font-size:14px; 
	text-transform:lowercase; 
	letter-spacing:0.05em; 
	font-weight:normal;
	width:auto;
	height:auto;
	
}

#kyra{
	width: 400px;
	height: auto;
}